body {
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    min-height:100vh;
    flex-wrap: wrap;
    font-family: "Outfit", sans-serif;
}

.app-cont {
    display:flex;
    justify-content: center;
    row-gap: 10px;
    column-gap: 10px;
    flex-wrap: wrap;
}

.stat-holder {
    padding-top:5px;
    padding-bottom:10px;
    flex-direction: column;
    background-color: rgb(34, 34, 34);
    color:white;
    border-radius: 10px;
    text-align: center;
    height: 120px;
    width: 80px;
    justify-content: space-between;
}

.stat-value {
    font-size: 50px;
}

/* .stat-buttons {
} */

.stat-button {
    color: white;
    background-color: rgb(22, 23, 24);
    border-radius: 30px;
    border-color: rgb(0, 0, 0);
}

h3 {
    text-align: center;
}
